.instruments-page {
  text-align: center;
  padding: 20px;
}

.instruments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.instrument-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: black;
  width: 200px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instrument-card:hover {
  transform: scale(1.05);
}
.instrument--img {
  height: 170px;
  object-fit: contain;
}
