.instruments-page {
  text-align: center;
  padding: 20px;
}

.instruments-page h1 {
  margin: 45px 0 20px;
}

.instruments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.instrument-card {
  background: rgb(29, 29, 29);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 140px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instrument-card:hover {
  transform: scale(1.05);
}
.instrument--img {
  height: 170px;
  object-fit: contain;
  filter: drop-shadow(0 0 0.5rem rgb(99, 99, 99));
}
.instrument--title {
  margin-top: 5px;
  font-size: 1rem;
}
