.schedule-page {
    text-align: center;
    padding: 20px;
    min-height: 100vh;
  }
  
  .schedule-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .schedule-table th, .schedule-table td {
    padding: 12px;
    text-align: center;
  }
  
  .schedule-table th {
    background-color: #cacaca;
    color: rgb(41, 41, 41);
  }
  
  .schedule-table tr:nth-child(even) {
    background-color: #3a3939;
  }
  
  .schedule-table tr:hover {
    background-color: #ddd;
    color: #333;
  }
  