/* src/components/Teachers.css */
.teachers {
  text-align: center;
  margin: 70px 20px;
}
.teachers h1{
  margin-bottom: 40px;
}

.teachers-list {
  display: flex;
  gap: 50px 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.teacher-card {
  width: 200px;
  max-width: 300px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.teacher-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.teacher-card h2 {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 10px;
}

.teacher-card p {
  font-size: 0.9em;
}

/* واکنش‌گرایی */
@media (max-width: 768px) {
  .teacher-card {
    width: 100%;
  }
}
